[v-cloak] {
  display: none;
}

body {
  font-family: "Ovo", helvetica, arial, sans-serif;
  font-size: 35px;
  overscroll-behavior: none;
}
 
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Alegreya", "Ovo", helvetica, arial, sans-serif;
  font-weight: 900;
}

h1 {
  font-size: 72px;
}

.charSheet {
  margin-top: 60px;
  margin-bottom: 60px;
}

#header {
  h3 {
    font-family: "Ovo", helvetica, arial, sans-serif;
    text-transform: uppercase;
  }
  margin-bottom: 30px;
}

.header {
  position: relative;
  z-index: 5;
  padding: 20px 0;

  h3 {
    font-family: "Alegreya Sans SC", helvetica, arial, sans-serif;
    text-transform: uppercase;
    font-size: 1.25rem;
    font-weight: 700;
    margin-bottom: 0;
    margin-left: 2rem;
  }

  p {
    font-size: 25px;
  }

  &.header-dark {
    color: $white;
    background: $darkgrey;
  }

  .header-logo {
    max-width: 120px;
  }

  .btn-link {
    padding: 0;
    font-size: 2rem;
    margin-left: 1rem;
  }
}

.footer {
  background: $darkgrey;
  color: $white;
  font-size: 20px;
  padding: 40px 0;

  a.btn-link {
    padding: 0;
    font-size: 2rem;
  }
}

.home-jumbotron {
  background: $darkgrey url("../img/adventure-mountains.jpg") center center
    no-repeat;
  color: $white;
  min-height: 100vh;
  height: 100vh;
  margin-top: -95px;
  text-align: center;
  position: relative;
  background-size: cover;

  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
    background: #000000;
    //background: linear-gradient(90deg, #a6a95d 0%, #c67700 100%);
    opacity: 0.4;
  }

  img {
    max-width: 100%;
  }

  h1 {
    margin-bottom: 2rem;
  }

  .container,
  .row {
    height: 100%;
    z-index: 4;
    position: relative;
  }

  .btn {
    font-weight: 700;
    font-size: 2rem;
  }
}

.sheetRow {
  font-family: "Ovo", helvetica, arial, sans-serif;
  line-height: 2;
  margin-bottom: 30px;
  font-size: 35px;
}

.fieldContainer {
  position: relative;
  display: inline-block;

  $this: &;

  &:after {
    color: $lightgrey;
    font-family: "Alegreya Sans SC", Arial, Helvetica, sans-serif;
    font-weight: 400;
    position: absolute;
    bottom: -15px;
    text-align: center;
    width: 100%;
    font-size: 0.875rem;
    letter-spacing: 1px;
    left: 0;
    content: "FIELD";
  }

  &#{$this}-name:after {
    content: "NAME";
  }

  &#{$this}-pronouns:after {
    content: "PRONOUNS";
  }

  &#{$this}-age:after {
    content: "AGE";
  }

  &#{$this}-height:after {
    content: "HEIGHT";
  }
}

select.sheetField {
  width: auto !important;
  border: 0;
  border-bottom: 2px solid $black;
  border-radius: 0 !important;
  line-height: 2;
  -webkit-appearance: none;
  -webkit-border-radius: 0;
}

.sheetField {
  font-family: "Alegreya", helvetica, arial, sans-serif;
  font-weight: 700;
  font-size: 38px;
  color: darkgrey;
  cursor: pointer;
  display: inline-block;
  min-width: 150px;
  position: relative;
  vertical-align: text-bottom;
  text-align: center;
  min-height: 50px;
  margin: 0 5px;
  padding: 5px 15px;
  overflow: hidden;
  line-height: 1;

  &:after {
    content: "";
    border-bottom: 2px solid $black;
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
  }

  &#age {
    min-width: 100px;
    max-width: 200px;
    width: auto;
  }

  &#role {
    max-width: 400px;
    width: 100%;
  }
}

.role-card {
  background: $darkgrey;
  background-size: cover;
  font-family: "Alegreya Sans SC", Arial, Helvetica, sans-serif;
  width: 100%;
  text-align: center;
  text-transform: lowercase;
  cursor: pointer;

  .role-title {
    font-size: 30px;
  }

  .role-image {
    padding: 150px 40px;
  }

  $this: &;

  &#{$this}-fighter {
    .role-image {
      background: $darkgrey url("../img/fighter.jpg") top center no-repeat;
      background-size: cover;
    }
    a, a:focus {
      color: $fighter;
      &:hover {
        color: $fighter;
        opacity: .8;
      }
    }
  }

  &#{$this}-invoker {
    .role-image {
      background: $darkgrey url("../img/invoker.jpg") top center no-repeat;
      background-size: cover;
    }
    a, a:focus {
      color: $invoker;
      &:hover {
        color: $invoker;
        opacity: .8;
      }
    }
  }

  &#{$this}-ranger {
    .role-image {
      background: $darkgrey url("../img/ranger.jpg") top center no-repeat;
      background-size: cover;
    }
    a, a:focus {
      color: $ranger;
      &:hover {
        color: $ranger;
        opacity: .8;
      }
    }
  }
}
