[v-cloak] {
  display: none;
}

body {
  font-family: "Ovo", helvetica, arial, sans-serif;
  font-size: 35px;
  overscroll-behavior: none;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Alegreya", "Ovo", helvetica, arial, sans-serif;
  font-weight: 900;
}

h1 {
  font-size: 72px;
}

.charSheet {
  margin-bottom: 70px;
}

.charSheet-instructions {
  font-size: 20px;
  line-height: 1.2;
  margin-top: 30px;
  text-align: left;
}

.charSheetPrintable {
  max-width: 800px;
  min-height: 1000px;
  padding: 30px 0;
  margin: 0 auto;
}

.charSheet-utility {
  .btn {
    i {
      margin: 0 5px;
    }
  }
}

.charSheetTop {
  max-width: 630px;
  margin: 0 auto;
  padding: 10px;
  text-align: center;
}

.charSheetInner {
  position: relative;
  border: 6px solid $black;
  padding: 40px 15px;
  border-radius: 40px;
  max-width: 630px;
  margin: 0 auto;
}

.charSheetInner-title {
  position: absolute;
  top: -35px;
  left: 0;
  width: 100%;
  text-align: center;
  z-index: 5;

  h3 {
    display: inline-block;
    background: $black;
    margin: 0 auto;
    color: $white;
    font-family: "Alegreya Sans SC", helvetica, arial, sans-serif;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding: 10px 20px;
    border-left: 4px solid #ffffff;
    border-right: 4px solid #ffffff;
  }
}

#header {
  img {
    width: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  h3 {
    font-family: "Ovo", helvetica, arial, sans-serif;
    text-transform: uppercase;
  }
  margin-bottom: 30px;
}

.header {
  position: relative;
  z-index: 5;
  padding: 20px 0;

  h3 {
    font-family: "Alegreya Sans SC", helvetica, arial, sans-serif;
    text-transform: uppercase;
    font-size: 1.25rem;
    font-weight: 700;
    margin-bottom: 0;
    margin-left: 2rem;
  }

  p {
    font-size: 25px;
  }

  &.header-dark {
    color: $white;
    background: $darkgrey;
  }

  .header-logo {
    max-width: 120px;
  }

  .btn-link {
    padding: 0;
    font-size: 2rem;
    margin-left: 1rem;
  }
}

.footer {
  background: $grey;
  color: $white;
  font-size: 20px;
  padding: 40px 0;

  a.btn-link {
    padding: 0;
    font-size: 2rem;
  }
}

.footer-coffee {
  padding: 20px 0;
}

.footer-coffee-address-title {
  font-family: "Alegreya Sans SC", helvetica, arial, sans-serif;
  text-transform: lowercase;
  font-size: 16px;
}

.footer-coffee-address {
  background: $darkgrey;
  padding: 10px;
  margin-bottom: 10px;
}

.home-jumbotron {
  background: $darkgrey url("../img/adventure-mountains.jpg") center center
    no-repeat;
  color: $white;
  min-height: 100vh;
  height: 100vh;
  margin-top: -95px;
  text-align: center;
  position: relative;
  background-size: cover;

  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
    background: #000000;
    //background: linear-gradient(90deg, #a6a95d 0%, #c67700 100%);
    opacity: 0.4;
  }

  img {
    max-width: 100%;
  }

  h1 {
    margin-bottom: 2rem;
  }

  .container,
  .row {
    height: 100%;
    z-index: 4;
    position: relative;
  }

  .btn {
    font-weight: 700;
    font-size: 2rem;
  }
}

.sheetRow {
  font-family: "Ovo", helvetica, arial, sans-serif;
  line-height: 2;
  font-size: 25px;
}

.fieldContainer {
  position: relative;
  display: inline-block;
  overflow: visible;

  $this: &;

  &:after {
    color: $lightgrey;
    font-family: "Alegreya Sans SC", Arial, Helvetica, sans-serif;
    font-weight: 400;
    position: absolute;
    bottom: -10px;
    text-align: center;
    width: 100%;
    font-size: 0.675rem;
    letter-spacing: 1px;
    left: 0;
    content: "FIELD";
  }

  &#{$this}-name:after {
    content: "NAME";
  }

  &#{$this}-pronouns:after {
    content: "PRONOUNS";
  }

  &#{$this}-age:after {
    content: "AGE";
  }

  &#{$this}-height:after {
    content: "HEIGHT";
  }

  &#{$this}-role:after {
    content: "ROLE";
  }

  &#{$this}-features:after {
    content: "DISTINCTIVE FEATURES";
  }

  &#{$this}-style:after {
    content: "STYLE";
  }

  &#{$this}-home:after {
    content: "HOME";
  }

  &#{$this}-community:after {
    content: "COMMUNITY";
  }

  &#{$this}-ideal:after {
    content: "IDEAL";
  }

  &#{$this}-flaw:after {
    content: "FLAW";
  }

  &#{$this}-dream:after {
    content: "DREAM";
  }
}

select.sheetField {
  width: auto !important;
  border: 0;
  border-bottom: 2px solid $black;
  border-radius: 0 !important;
  line-height: 2;
  -webkit-appearance: none;
  -webkit-border-radius: 0;
}

.sheetField {
  font-family: "Alegreya", helvetica, arial, sans-serif;
  font-weight: 700;
  font-size: 25px;
  color: darkgrey;
  cursor: pointer;
  display: inline-block;
  min-width: 150px;
  position: relative;
  vertical-align: text-bottom;
  text-align: center;
  min-height: 30px;
  padding: 0 10px;
  overflow: hidden;
  line-height: 1;

  &:after {
    content: "";
    border-bottom: 2px solid $black;
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
  }

  &#age {
    min-width: 70px;
    max-width: 200px;
    width: auto;
  }

  &#height {
    min-width: 150px;
    max-width: 250px;
    width: auto;
  }

  &#role {
    min-width: 350px;
    width: auto;
  }

  &#body,
  &#face {
    min-width: 250px;
    width: auto;
  }

  &#vibe {
    min-width: 470px;
    width: auto;
  }

  &#outfit1,
  &#outfit2 {
    min-width: 215px;
    width: auto;
  }

  &#move {
    min-width: 350px;
    width: auto;
  }

  &#home {
    min-width: 415px;
    width: auto;
  }

  &#knownFor {
    min-width: 515px;
    width: auto;
  }

  &#ideal {
    min-width: 290px;
    width: auto;
  }

  &#flaw {
    min-width: 260px;
    width: auto;
  }

  &#dream {
    min-width: 400px;
  }
}

.role-card {
  background: $black;
  background-size: cover;
  border-radius: 10px;
  font-family: "Alegreya Sans SC", Arial, Helvetica, sans-serif;
  width: 100%;
  text-align: center;
  text-transform: lowercase;
  cursor: pointer;
  padding: 20px;
  position: relative;
  margin-top: 1rem;

  &.active,
  &.active:hover {
    .role-desc {
      opacity: 0;
    }
    &:after {
      opacity: 0;
    }
  }

  &:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);

    .role-desc {
      opacity: 1;
    }
  }

  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
    border-radius: 10px;
    background: #000000;
    opacity: 0;
    transition: opacity linear 300ms;
  }

  &:hover:after {
    opacity: 0.6;
  }

  .role-title {
    font-size: 30px;
    position: relative;
    z-index: 4;
    text-shadow: 1px 1px 1px $black;
  }

  .role-desc {
    font-family: "Ovo", Arial, Helvetica, sans-serif;
    height: 100%;
    min-height: 250px;
    max-height: 500px;
    position: relative;
    z-index: 4;
    line-height: 1.2;
    text-transform: none;
    opacity: 0;
    transition: opacity linear 500ms;
    text-align: left;
  }

  a {
    background: #444444;
    padding: 5px;
    display: block;
    color: $white;
    text-decoration: none;
    position: relative;
    z-index: 4;
  }

  $this: &;

  &#{$this}-fighter {
    background: $darkgrey url("../img/fighter.jpg") top center no-repeat;
    background-size: cover;

    a,
    a:focus {
      &:hover {
        background: $fighter;
      }
    }
    &.active a {
      background: $fighter;
    }
  }

  &#{$this}-invoker {
    background: $darkgrey url("../img/invoker.jpg") top center no-repeat;
    background-size: cover;

    a,
    a:focus {
      &:hover {
        background: $invoker;
      }
    }
    &.active a {
      background: $invoker;
    }
  }

  &#{$this}-ranger {
    background: $darkgrey url("../img/ranger.jpg") top center no-repeat;
    background-size: cover;
    a,
    a:focus {
      &:hover {
        background: $ranger;
      }
    }
    &.active a {
      background: $ranger;
    }
  }

  &#{$this}-naturalist {
    background: $darkgrey url("../img/naturalist.jpg") top center no-repeat;
    background-size: cover;
    a,
    a:focus {
      &:hover {
        background: $naturalist;
      }
    }
    &.active a {
      background: $naturalist;
    }
  }

  &#{$this}-doctor {
    background: $darkgrey url("../img/doctor.jpg") top center no-repeat;
    background-size: cover;
    a,
    a:focus {
      &:hover {
        background: $doctor;
      }
    }
    &.active a {
      background: $doctor;
    }
  }

  &#{$this}-spy {
    background: $darkgrey url("../img/spy.jpg") top center no-repeat;
    background-size: cover;
    a,
    a:focus {
      &:hover {
        background: $spy;
      }
    }
    &.active a {
      background: $spy;
    }
  }

  &#{$this}-magician {
    background: $darkgrey url("../img/magician.jpg") top center no-repeat;
    background-size: cover;
    a,
    a:focus {
      &:hover {
        background: $magician;
      }
    }
    &.active a {
      background: $magician;
    }
  }

  &#{$this}-wizard {
    background: $darkgrey url("../img/wizard.jpg") top center no-repeat;
    background-size: cover;
    a,
    a:focus {
      &:hover {
        background: $wizard;
      }
    }
    &.active a {
      background: $wizard;
    }
  }
}

.ideal-flaw-title {
  font-size: 3.5rem;
}
