.btn {
  font-family: "Alegreya Sans SC", Arial, Helvetica, sans-serif;
  font-weight: 500;
  text-transform: lowercase;
  border-radius: 0;
}

.form-control {
  border-radius: 0;
  background-clip: border-box;
}

.dropdown-menu {
  height: 150px;
  overflow-y: auto;
}
