$black: #111111;
$darkgrey: #222222;
$yellow: #ffc300;
$white: #ffffff;
$lightgrey: #bbbbbb;

$fighter: #f04923;
$invoker: #0a9aee;
$ranger: #00a1ba;
$naturalist: #5e9f45;
$doctor: #dc2028; 
$spy: #4d3996;
$magician: #ec008c;
$wizard: #ffc300;;

//bootstrap overrides
$theme-colors: (
  "primary": rgba(255, 221, 0, 1),
  "danger": #ff4136
);