$black: #222222;
$darkgrey: #111111;
$yellow: #ffc300;
$white: #ffffff;
$lightgrey: #bbbbbb;

$fighter: #f04923;
$invoker: #0a9aee;
$ranger: #00a1ba;

//bootstrap overrides
$theme-colors: (
  "primary": rgba(255, 221, 0, 1),
  "danger": #ff4136
);